<div style="position:absolute;">
    <table>
        <tr>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>  Escolha uma Acao  <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/{{ grid.options.controller  }}/{{ row.entity.id }}/show">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                Ver
                            </a>
                        </li>
                        <li>
                            <a ng-href="#/{{ grid.options.controller }}/{{ row.entity.id }}/edit">
                                <i class="glyphicon glyphicon-edit"></i>
                                Editar
                            </a>
                        </li>
                        <li>
                            <a ng-href="#/{{ grid.options.controller }}/{{ row.entity.id }}/remove">
                                <i class="glyphicon glyphicon-remove"></i>
                                Remover
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
