<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Pessoa-Experiência-Profissional</h4>
                    
                <div class="panel-body">
                    <p>Deseja realmente excluir este registro?</p>
                    <ul>
                        <li><strong>Nome: </strong>{{pessoaExperienciaProfissional.pessoa.data.nivelFuncional.data.nome
                            +' '+pessoaExperienciaProfissional.pessoa.data.nome}}</li>
                        <li><strong>Experiência Profissional: </strong>{{pessoaExperienciaProfissional.experienciaProfissional.data.nome}}</li>
                        <li><strong>Data de Início: </strong>{{pessoaExperienciaProfissional.data_inicio |dateBr}}</li>
                        <li><strong>Data de Fim: </strong>{{pessoaExperienciaProfissional.data_fim |dateBr}}</li>
                        <li><strong>Observação: </strong>{{pessoaExperienciaProfissional.observacao}}</li>
                    </ul>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/pessoas-experiencias-profissionais" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                                    Voltar
                                </a>

                                <button type="button" class="btn btn-danger" ng-click="remove()">
                                    <i class="glyphicon glyphicon-remove-sign"></i>
                                    Remover
                                </button>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>