<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Remover Pessoa</h4></div>
                <div class="panel-body">
                    <p>Deseja realmente excluir esta pessoa?</p>
                    <ul>
                        <li><strong>Nome: </strong>{{pessoa.nome}}</li>
                        <li><strong>Nome de Guerra: </strong>{{pessoa.nome_guerra}}</li>
                        <li><strong>CPF: </strong>{{pessoa.cpf}}</li>
                        <li><strong>Nível Funcional: </strong>{{pessoa.nivelFuncional.data.nome}}</li>
                        <li><strong>Organização: </strong>{{pessoa.organizacao.data.nome}}</li>
                        
                    </ul>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/pessoas" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                                    Voltar
                                </a>

                                <button type="button" class="btn btn-danger" ng-click="remove()">
                                    <i class="glyphicon glyphicon-remove-sign"></i>
                                    Remover
                                </button>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
