<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Registro de Atividade</h4>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorreu um erro.<br><br>
                        <div>{{ error.message }}</div>
                    </div>
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">
                        <!-- {!! csrf_field() !!} -->
                        
                        <div class="form-group" ng-class="{'has-error' : !form.pessoa_id.$valid && form.pessoa_id.$touched}">
                            <label class="col-md-6 control-label">{{pessoa.nivelFuncional.data.nome+' '+pessoa.nome}}</label>
                       
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.modalidade_id.$valid && form.modalidade_id.$touched}">
                            <label class="col-md-4 control-label">Plano</label>
                            <div class="col-md-6">
                                <select class="form-control" id="modalidade_id" name="modalidade_id"
                                        ng-model="pessoaAtividade.modalidade_id"
                                        ng-options="modalidade.id as modalidade.nome for modalidade in modalidades"
                                        >
                                </select>
                                <div ng-messages="form.modalidade_id.$error" class="help-block" ng-show="form.modalidade_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.atividade_id.$valid && form.atividade_id.$touched}">
                            <label class="col-md-4 control-label">Atividade</label>
                            <div class="col-md-6">
                                <select class="form-control" id="atividade_id" name="atividade_id"
                                        ng-model="pessoaAtividade.atividade_id"
                                        ng-options="atividade.id as atividade.nome for atividade in atividades"
                                        >
                                </select>
                                <div ng-messages="form.atividade_id.$error" class="help-block" ng-show="form.atividade_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.instituicao_id.$valid && form.instituicao_id.$touched}">
                            <label class="col-md-4 control-label">Instituição</label>
                            <div class="col-md-6">
                                <select class="form-control" id="instituicao_id" name="instituicao_id"
                                        ng-model="pessoaAtividade.instituicao_id"
                                        ng-options="instituicao.id as instituicao.nome for instituicao in instituicoes"
                                        >
                                </select>
                                <a type="button" class="btn btn-sm btn-default glyphicon glyphicon-plus" href="{{'#/instituicoes/new'}}" ></a>
                                <div ng-messages="form.instituicao_id.$error" class="help-block" ng-show="form.instituicao_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group" ng-class="{'has-error' : !form.custo_atividade.$valid && form.custo_atividade.$touched}">
                            <label class="col-md-4 control-label">Custo</label>
                            <div class="col-md-3">
                               <input type="text" class="form-control" name="custo_atividade" 
                                       ng-model="pessoaAtividade.custo_atividade"
                                       mask="99.33"
                                       required>

                                <div ng-messages="form.custo_atividade.$error" class="help-block" ng-show="form.custo_atividade.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">Data</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="ano" 
                                       ng-model="pessoaAtividade.ano"
                                       placeholder="Ex. 05/12/2016"
                                       mask="39/19/9999"
                                       required>

                                <div ng-messages="form.ano.$error" class="help-block" ng-show="form.ano.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error' : !form.carga_horaria.$valid && form.carga_horaria.$touched}">
                            <label class="col-md-4 control-label">Carga Horária</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="carga_horaria" 
                                       ng-model="pessoaAtividade.carga_horaria" 
                                       mask="99999"
                                       placeholder="Ex. 80"
                                       required>
                                <div ng-messages="form.carga_horaria.$error" class="help-block" ng-show="form.carga_horaria.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                            <label class="col-md-1 control-label">BI</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="bi"
                                       placeholder="Ex. 05-2016"
                                       mask="999-9999"
                                       ng-model="pessoaAtividade.bi">
                                <div ng-messages="form.bi.$error" class="help-block" ng-show="form.bi.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.pais_id.$valid && form.pais_id.$touched}">
                            <label class="col-md-4 control-label">País</label>
                            <div class="col-md-6">
                                <select class="form-control" id="pais_id" name="v"
                                        ng-change="getUnidadesFederacao()"
                                        ng-model="pais_id"
                                        ng-options="pais.id as pais.nome for pais in paises"
                                        >
                                </select>
                                <div ng-messages="form.pais_id.$error" class="help-block" ng-show="form.pais_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.unidade_federacao_id.$valid && form.unidade_federacao_id.$touched}">
                            <label class="col-md-4 control-label">Estado</label>
                            <div class="col-md-6">
                                <select class="form-control" id="unidade_federacao_id" name="v"
                                        ng-change="getMunicipios()"
                                        ng-model="unidade_federacao_id"
                                        ng-options="unidadeFederacao.id as unidadeFederacao.nome for unidadeFederacao in unidadesFederacao"
                                        >
                                </select>
                                <div ng-messages="form.unidade_federacao_id.$error" class="help-block" ng-show="form.unidade_federacao_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : !form.municipio_id.$valid && form.municipio_id.$touched}">
                            <label class="col-md-4 control-label">Município</label>
                            <div class="col-md-6">
                                <select class="form-control"
                                        ng-model="pessoaAtividade.municipio_id"
                                        ng-options="municipio.id as municipio.nome for municipio in municipios"
                                        >
                                </select>
                                <div ng-messages="form.municipio_id.$error" class="help-block" ng-show="form.municipio_id.$touched">
                                    <div ng-message="required">Campo Obrigatório</div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/pessoas-atividades" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-circle-arrow-left"></i>
                                    Voltar
                                </a>

                                <button type="submit" class="btn btn-primary">
                                    <i class="glyphicon glyphicon glyphicon-ok-sign"></i>
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>